{% extends "base.html" %}
{% block title %}
    乘风-登录
{% endblock %}
{% block head %}
    <script>
        function validateEmail() {
            var email = document.getElementById("email").value;
            var error = document.getElementById("error");

            // 正则表达式验证邮件地址是否符合标准
            var emailRegex = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/
            if (!emailRegex.test(email)) {
                error.innerHTML = "请输入有效的邮件地址";
                return false;
            }

            // 验证邮件地址是否为空
            if (email == "") {
                error.innerHTML = "邮件地址不能为空";
                return false;
            }

            // 验证通过，清空错误提示信息
            error.innerHTML = "";
            return true;
        }
    </script>
{% endblock %} }
{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col">
                <form method="POST">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">立即登录</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}